<h1>Manage Monthly Bills - {{title}}</h1>
<p>Simple tool to organize all of your accounts in one place.</p>
<p><a href="">Register</a></p>

<h2>All Little Subscriptions Add Up.</h2>

<p>
    Keep track of your subscriptions. Dropbox, Amazon, Netflix,<br/>
    Hulu, and many others can add up overtime. It is very easy<br/>
    to forget how many withdraw from your account on a monthly<br/>
    basis. They are usually small payments so you dont realize<br/>
    how much it really cost throughout the year.
</p>

