<h1>{{title}}</h1>
<a href="/sign-in">Sign In</a> |
<a href="/register">Register</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusamus, accusantium amet debitis distinctio dolore
    earum et illo, ipsam itaque minus obcaecati placeat quasi repellat velit, veritatis voluptate voluptatum.</p>