<h1>{{title}}</h1>

<div class="login-form">
    <form action="/register/submit" method="post">
        <p>
            <label for="">Email</label>
            <input type="text" name="email" placeholder="E-mail" required="">
        </p>
        <p>
            <label for="">Username</label>
            <input type="text" name="username" placeholder="Username" required="">
        </p>
        <p>
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Password" required="">
        </p>
        <p>
            <label for="">Verify Password</label>
            <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
        </p>
        <p><small><a href="#"> By clicking register, I agree to your terms</a></small></p>
        <p>
            <input type="submit" value="REGISTER">
        </p>

    </form>
</div>
