<h1>{{title}}</h1>

<div class="login-form">
    <form action="/sign-in/process" method="post">
        <input type="text" name="logemail" placeholder="E-mail" required="">
        <input type="password" name="logpassword" placeholder="Password" required="">
        <div class="tp">
            <input type="submit" value="LOGIN NOW">
        </div>
    </form>
</div>